list set tuples

In [34]:
A = [1,2,3,4,5,6]
print(A[0:7])
len(A)

[1, 2, 3, 4, 5, 6]

6

In [35]:
A = [1,2,3,4,5.0,1+2j,True,"rahul"] # this can take any data types 
type(A)
print(A[0:8])

[1, 2, 3, 4, 5.0, (1+2j), True, 'rahul']

what is difference between list in python and array in c and c++ 
ans
array will have only one type of data type 
elements will have only one type of data trype 


python 
list can cotain both same and different data types

In [36]:
A = [1,2,3,4,5.0,1+2j,True,"rahul"] # this can take any data types 
for element in range(len(A)):
    print(f"where {element},value = {A[element]}, data type = {type(A[element])}")

where 0,value = 1, data type = <class 'int'>
where 1,value = 2, data type = <class 'int'>
where 2,value = 3, data type = <class 'int'>
where 3,value = 4, data type = <class 'int'>
where 4,value = 5.0, data type = <class 'float'>
where 5,value = (1+2j), data type = <class 'complex'>
where 6,value = True, data type = <class 'bool'>
where 7,value = rahul, data type = <class 'str'>

In [37]:
A = [1,2,3,4,5.0,1+2j,True,"rahul"] # start index [0::5]
print(A[3::2])

[4, (1+2j), 'rahul']

In [38]:
A = [1,2,3,4,5.0,1+2j,True,"rahul"] # start index [0::5]
for i in range(0,8,2):
    print(i,A[i])

0 1
2 3
4 5.0
6 True

In [39]:
A = [1,2,3,4,5.0,1+2j,True,"rahul"] # start index [0::5]
print(A[::-1])

['rahul', True, (1+2j), 5.0, 4, 3, 2, 1]

In [40]:
A = "hey"
A.replace("h","r")

'rey'

In [41]:
A = [0.2,99,1000,9190,1010]
A[3::-1]

[9190, 1000, 99, 0.2]

In [42]:
A = [1,2,3,4,5,"sunny",True]
A[::-2]

[True, 5, 3, 1]

In [43]:
A = 0
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [44]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [45]:
A = [1,2,3,4,5,"sunny",True]
for i in range(-1, -len(A), -1):
    print(i,A[i])

-1 True
-2 sunny
-3 5
-4 4
-5 3
-6 2

In [47]:
A = [1,2,3,4,5.0,1+2j,True,"rahul"]
for i in [1,5,6,7]:
    print(i,A[i])

1 2
5 (1+2j)
6 True
7 rahul

Updating the list in the elements

In [48]:
A = [1,2,3,4,5.0,1+2j,True,"rahul"]
A[4] = 999 # mutable operation is allowed 
# mutable is not allowed in strings

In [50]:
A[-2] = "inueron"
print(A)

[1, 2, 3, 4, 999, (1+2j), 'inueron', 'rahul']

In [51]:
B = [78,90.22]
print(A+B) # extension of the list

[1, 2, 3, 4, 999, (1+2j), 'inueron', 'rahul', 78, 90.22]

In [52]:
A*2 # here it just multily

[1,
 2,
 3,
 4,
 999,
 (1+2j),
 'inueron',
 'rahul',
 1,
 2,
 3,
 4,
 999,
 (1+2j),
 'inueron',
 'rahul']

In [55]:
A*(1)

[1, 2, 3, 4, 999, (1+2j), 'inueron', 'rahul']

In [57]:
A*0

[]

basic list properties

In [58]:
len(A)

8

In [59]:
my_list = [] # not recommended 
len(my_list)

0

In [60]:
my_list = list()
len(my_list)

0

In [63]:
list_of_items = list() # empty list that is defined
for i in range(5):
    user_input = int(input("enter the items that u want to purchase:"))
    list_of_items = list_of_items + [user_input]
print(list_of_items)

[10, 10, 10, 10, 10]

In [66]:
my_cart = list()
for i in range(5):
    user_input = input("add ur cart :")
    print(user_input)

num1
num2
num3
num4
num5

In [89]:
list_of_items = list()
N = int(input("no of items u have to purchase "))
i=0
while i < N:
    user_input = input("enter the item")
    list_of_items = list_of_items + [user_input]
    i=i+1
    print(list_of_items)

['hey']
['hey', 'hey']
['hey', 'hey', 'hey']

In [1]:
example = [1,2,3,3,60]
max(example)

60

In [3]:
example = ["hey","rahul","osho"]
max(example)

'rahul'

In [4]:
example = [12 , 13  , 20*2]
max(example)

40

In [8]:
string_example = ["bhaveen","due","Doctor"]
print(max(string_example))
print(min(string_example))

due
Doctor

In [62]:
# print the name with the highest no of charactor
l = []
num = int(input("enter the number of items: "))
for i in range(0,num):
    l = input("enter the string: ")

print(l)

hey
3
love
4

TypeError: 'int' object is not iterable

In [2]:
A = ["hello", "word"]
for i in range(len(A)):
    print(A[i])
    print(len(A[i]))

hello
5
word
4